@using BabyCareProject.Dtos.InformationDtos
@model List<ResultInformationDto>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@foreach (var item in Model)
{

    <div class="container-fluid border-bottom bg-light wow fadeIn" data-wow-delay="0.1s">
        <div class="container topbar bg-primary d-none d-lg-block py-2" style="border-radius: 0 40px">
            <div class="d-flex justify-content-between">
                <div class="top-info ps-2">
                    <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">@item.Address</a></small>
                    <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">@item.Email</a></small>
                </div>
                <div class="top-link pe-2">
                    <a href="@item.SocailMedia1" class="btn btn-light btn-sm-square rounded-circle"><i class="fab fa-facebook-f text-secondary"></i></a>
                    <a href="@item.SocailMedia2" class="btn btn-light btn-sm-square rounded-circle"><i class="fab fa-twitter text-secondary"></i></a>
                    <a href="@item.SocailMedia3" class="btn btn-light btn-sm-square rounded-circle"><i class="fab fa-instagram text-secondary"></i></a>
@*                     <a href="" class="btn btn-light btn-sm-square rounded-circle me-0"><i class="fab fa-linkedin-in text-secondary"></i></a>
 *@                </div>
            </div>
        </div>
        <div class="container px-0">
            <nav class="navbar navbar-light navbar-expand-xl py-3">
                <a href="index.html" class="navbar-brand"><h1 class="text-primary display-6">Baby<span class="text-secondary">Care</span></h1></a>
                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-primary"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto">
                        <a href="#home" class="nav-item nav-link active">Ana Sayfa</a>
                        <a href="#about" class="nav-item nav-link">Hakkımızda</a>
                        <a href="#services" class="nav-item nav-link">Hizmetler</a>
                        <a href="#programs" class="nav-item nav-link">Programlar</a>
                        <a href="#events" class="nav-item nav-link">Etkinlikler</a>
                        <a href="#contact" class="nav-item nav-link">İletişim</a>
                    </div>
                    <div class="d-flex me-4">
                        <div id="phone-tada" class="d-flex align-items-center justify-content-center">
                            <a href="" class="position-relative wow tada" data-wow-delay=".9s">
                                <i class="fa fa-phone-alt text-primary fa-2x me-4"></i>
                                <div class="position-absolute" style="top: -7px; left: 20px;">
                                    <span><i class="fa fa-comment-dots text-secondary"></i></span>
                                </div>
                            </a>
                        </div>
                        <div class="d-flex flex-column pe-3 border-end border-primary">
                            <span class="text-primary">İletişime geçmek ister misiniz?</span>
                            <a href="#"><span class="text-secondary">+ @item.Phone</span></a>
                        </div>
                    </div>
                    <a class="btn-search btn btn-primary btn-md-square rounded-circle" href="/Admin/About/Index"><i class="fas fa-search text-white"></i></a>
                </div>
            </nav>
        </div>
    </div>

}
