@using BabyCareProject.Dtos.InformationDtos
@model List<ResultInformationDto>

@foreach (var item in Model)
{
    <div class="footer-item">
        <h4 class="text-primary mb-4 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius">Konum</h4>
        <div class="d-flex flex-column align-items-start">
            <a href="" class="text-body mb-4"><i class="fa fa-map-marker-alt text-primary me-2"></i>@item.Address</a>
            <a href="" class="text-start rounded-0 text-body mb-4"><i class="fa fa-phone-alt text-primary me-2"></i> @item.Phone</a>
            <a href="" class="text-start rounded-0 text-body mb-4"><i class="fas fa-envelope text-primary me-2"></i> @item.Email</a>
            <div class="footer-icon d-flex">
                <a class="btn btn-primary btn-sm-square me-3 rounded-circle text-white" href="@item.SocailMedia1"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-primary btn-sm-square me-3 rounded-circle text-white" href="@item.SocailMedia2"><i class="fab fa-twitter"></i></a>
                <a href=" @item.SocailMedia3" class="btn btn-primary btn-sm-square me-3 rounded-circle text-white"><i class="fab fa-instagram"></i></a>

            </div>
        </div>
    </div>
}