@model List<ResultEventDto>
@{
    ViewData["Title"] = "Index";
}


<h3>Etkinlikler</h3>
@{
    int count = 0;
}
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>İsim</th>
        <th>Açıklama</th>
        <th>Resim</th>
        <th>Konum</th>
        <th>Tarih</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td><img src="@item.ImageUrl" style="height:75px ; width:75px" /></td>
            <td>@item.Location</td>
            <td>@item.Date.ToShortTimeString()</td>
            <td>
                <a href="/Admin/Event/Delete/@item.Id" class="btn btn-danger">Sil</a>
                <a href="/Admin/Event/Update/@item.Id" class="btn btn-info">Güncelle</a>
            </td>
        </tr>
    }

</table>
<a href="/Admin/Event/Create" class="btn btn-info">Yeni Ders Ekle</a>


